packages:
  yum:
    gcc: []
    make: []
    htop: []
    php-mbstring: []
    php-gd: []
    php-pdo: []
    php-pear: []
    php-devel: []
    php-pecl-apcu: []

commands:
  01_install_node:
    command: |
      sudo curl --silent --location https://rpm.nodesource.com/setup_13.x | sudo bash -
      sudo yum -y install nodejs

  02_install_yarn:
    command: |
      sudo wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo
      sudo yum -y install yarn
