container_commands:
  1_writable_directories:
    command: sudo chmod -R 777 /var/app/current/var && chmod -R 777 /var/app/current/public
  2_dugun_db_migration:
    command: php bin/console doctrine:migrations:migrate --no-interaction
  3_doctrine_cache_clear:
    command: php bin/console doctrine:cache:clear-metadata && sudo php bin/console doctrine:cache:clear-query
  4_nginx_reload:
     command: sudo systemctl restart nginx
  5_yarn_install:
     command: yarn install
  6_yarn_build:
     command: yarn build
  7_cache_warmup:
    command: HTTPDUSER=$(ps axo user,comm | grep -E '[a]pache|[h]ttpd|[_]www|[w]ww-data|[n]ginx|webapp' | grep -v root | head -1 | cut -d\  -f1) && sudo setfacl -dR -m u:"$HTTPDUSER":rwX -m u:$(whoami):rwX var && sudo setfacl -R -m u:"$HTTPDUSER":rwX -m u:$(whoami):rwX var
