container_commands:
  1_writable_directories:
    command: sudo chmod -R 777 /var/app/staging/var && chmod -R 777 /var/app/staging/public
  2_dugun_db_migration:
    command: cd /var/app/staging && php bin/console doctrine:migrations:migrate --no-interaction
  3_doctrine_cache_clear:
    command: cd /var/app/staging &&  php bin/console doctrine:cache:clear-metadata && sudo php bin/console doctrine:cache:clear-query
  4_install_assets:
    command: cd /var/app/staging &&  php bin/console sylius:install:assets --no-interaction
  5_nginx_reload:
     command: sudo systemctl restart nginx
  6_yarn_dependency:
     command: cd /var/app/staging && yarn install
  7_yarn_frontend:
     command: cd /var/app/staging && yarn build
  8_cache_warmup:
    command: HTTPDUSER=$(ps axo user,comm | grep -E '[a]pache|[h]ttpd|[_]www|[w]ww-data|[n]ginx|webapp' | grep -v root | head -1 | cut -d\  -f1) && sudo setfacl -dR -m u:"$HTTPDUSER":rwX -m u:$(whoami):rwX var && sudo setfacl -R -m u:"$HTTPDUSER":rwX -m u:$(whoami):rwX var
